<div>
    <p>main works! </p>

    <!-- <div *ngIf="session"> -->
        <!-- <app-user *appHasRole="'user'"></app-user> -->
        <app-user></app-user>
        <!-- <app-user *appHasRole="user"></app-user> -->
        <app-admin *appHasRole="'admin'"></app-admin>
    <!-- </div> -->
    <!-- <div *ngElse> -->
        <!-- No session yet! -->
    <!-- </div> -->

    <!-- <ng-template [appHasRole]="'user'">
        Peckerwood i pecer good
    </ng-template> -->

    <!-- <ng-template [appHasRole]="'user'">
        <app-user></app-user>
    </ng-template>
    <ng-template [appHasRole]="'admin'">
        <app-admin></app-admin>
    </ng-template> -->
</div>